In [1]:
from sqlalchemy import create_engine
# You must have psycopg2 installed in your choosen environment
#!pip install psycopg2-binary
import psycopg2
# This passowrd should be changed to match your own
from config import db_password

import pandas as pd

/Users/gabyodak/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
# Establish connection to database 
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/shark_db"
engine = create_engine(db_string)

In [3]:
# Import all files with clean data as dataframes 
date_df = pd.read_csv("Clean_Data_Files/date.csv")
victimology_df = pd.read_csv("Clean_Data_Files/victimology.csv")
location_df = pd.read_csv("Clean_Data_Files/location.csv")
activity_df = pd.read_csv("Clean_Data_Files/activity.csv")
type_df = pd.read_csv("Clean_Data_Files/type.csv")
species_df = pd.read_csv("Clean_Data_Files/species.csv")
fatality_df = pd.read_csv("Clean_Data_Files/fatality.csv")

### Rename columns to snake format so they are recognizble by SQL
### Drop any duplicates that may appear in primary key Case_Number
#### This should have been done in data cleaning, but just to make sure

In [4]:
print(date_df.columns)

Index(['Case Number', 'Date', 'Year', 'Month', 'Day'], dtype='object')

In [ ]:
#date_df.columns
date_df.rename(columns = {'Case Number': 'case_number', 'Injury': 'injury',
                         'Name': 'name', 'Type': 'type', }, inplace = True)
print(date_df.columns)
print(len(date_df))
date_df.drop_duplicates(subset= 'Case_Number', keep = 'first', inplace = True)
print(len(date_df))

In [ ]:
#victimology_df.columns
victimology_df.rename(columns = {'Case Number': 'Case_Number',
                         'People Involved': 'People_Involved',
                         'Original Name': 'Original_Name'}, inplace = True)
print(victimology_df.columns)
print(len(victimology_df))
victimology_df.drop_duplicates(subset= 'Case_Number', keep = 'first', inplace = True)
print(len(victimology_df))

In [ ]:
#location_df.columns
location_df.rename(columns = {'Case Number': 'Case_Number'}, inplace = True)
print(location_df.columns)
print(len(location_df))
location_df.drop_duplicates(subset= 'Case_Number', keep = 'first', inplace = True)
print(len(location_df))

In [ ]:
#activity_df.columns
activity_df.rename(columns = {'Case Number': 'Case_Number'}, inplace = True)
print(activity_df.columns)
print(len(activity_df))
activity_df.drop_duplicates(subset= 'Case_Number', keep = 'first', inplace = True)
print(len(activity_df))

In [ ]:
#type_df.columns
type_df.rename(columns = {'Case Number': 'Case_Number'}, inplace = True)
print(type_df.columns)
print(len(type_df))
type_df.drop_duplicates(subset= 'Case_Number', keep = 'first', inplace = True)
print(len(type_df))

In [ ]:
#species_df.columns
species_df.rename(columns = {'Case Number': 'Case_Number'}, inplace = True)
print(species_df.columns)
print(len(species_df))
species_df.drop_duplicates(subset= 'Case_Number', keep = 'first', inplace = True)
print(len(species_df))

In [5]:
fatality_df.columns

Index(['Case Number', 'Injury', 'Name', 'Type', 'Fatal (Y/N)'], dtype='object')

In [7]:
#fatality_df.columns
fatality_df.rename(columns = {'Case Number': 'case_number',
                               'Injury': 'injury',
                               'Name': 'name',
                               'Type': 'type',
                               'Fatal (Y/N)': 'fatal'}, inplace = True)
fatality_df.columns

Index(['case_number', 'injury', 'name', 'type', 'fatal'], dtype='object')

In [8]:
fatality_df.drop_duplicates(subset= 'case_Number', keep = 'first', inplace = True)

KeyError: Index(['case_Number'], dtype='object')

In [ ]:
list(fatality_df.fatal.unique())

# Adding all dataframes to database as their own tables

In [ ]:
date_df.to_sql(name='date', con=engine, method='multi', if_exists='replace')

In [ ]:
victimology_df.to_sql(name='victimology', con=engine, method='multi', if_exists='replace')

In [ ]:
location_df.to_sql(name='location', con=engine, method='multi', if_exists='replace')

In [ ]:
activity_df.to_sql(name='activity', con=engine, method='multi', if_exists='replace')

In [ ]:
type_df.to_sql(name='type', con=engine, method='multi', if_exists='replace')

In [ ]:
species_df.to_sql(name='species', con=engine, method='multi', if_exists='replace')

In [ ]:
fatality_df.to_sql(name='fatality', con=engine, method='multi', if_exists='replace')

# Adding primay keys

In [3]:
con = engine.connect()

In [4]:
con.execute('ALTER TABLE date ADD PRIMARY KEY(Case_Number)')

ProgrammingError: (psycopg2.ProgrammingError) column "case_number" of relation "date" does not exist

[SQL: ALTER TABLE date ADD PRIMARY KEY(Case_Number)]
(Background on this error at: https://sqlalche.me/e/14/f405)