In [1]:
#Database connection
from sqlalchemy import create_engine
# You must have psycopg2 installed in your choosen environment
#!pip install psycopg2-binary
import psycopg2
from getpass import getpass

#Formatting data to remove nulls
import pandas as pd

/Users/gabyodak/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
# Configure settings for RDS
password = getpass('Enter database password')
mode = "read"
jdbc_url=""
config = {"user":"postgres", 
          "password": password,
          "driver":"org.postgresql.Driver"}

Enter database password········

In [4]:
# Establish connection to database 
db_string = f"postgresql://postgres:{password}@127.0.0.1:5432/shark_bite_db"
engine = create_engine(db_string)
conn = engine.connect()

In [5]:
shark_bite_df = pd.read_sql_table('completedata', conn )
shark_bite_df

,case_number,year,month,day,country,activity,species,type,people_involved,sex,fatal
0,2020.02.05,2020.0,2.0,5.0,USA,Board_Activity,Tiger,Unprovoked,U,U,N
1,2020.01.30.R,2020.0,1.0,30.0,BHS,Swimming_Activity,Unknown,Provoked,I,F,N
2,2020.01.17,2020.0,1.0,17.0,AUS,Board_Activity,Unknown,Unprovoked,I,M,N
3,2020.01.16,2020.0,1.0,16.0,NZL,Board_Activity,Broad_Nose_Seven_Gill,Unprovoked,I,F,N
4,2020.01.13,2020.0,1.0,13.0,USA,Board_Activity,Unknown,Unprovoked,I,M,N
...,...,...,...,...,...,...,...,...,...,...,...
5914,1923.01.13,1923.0,1.0,13.0,CUB,Sea_Disaster,Dusky_Reef,Unknown,I,M,None
5915,1872.11.24,1872.0,11.0,24.0,OTH,Unknown_Activity,Unknown,Unknown,I,F,None
5916,1967.09.07.b,1967.0,9.0,7.0,PNG,Free_Diving_Activity,Unknown,Provoked,I,U,None
5917,2001.11.07,2001.0,11.0,7.0,AUS,Ski_Activity,Unknown,Unknown,I,M,None
5918,1870.00.00,NaN,NaN,NaN,AUS,Paddle_Boat_Activity,Unknown,Unknown,I,M,None

In [6]:
print(len(shark_bite_df))
#5919
shark_bite_df.drop(["case_number"], axis=1, inplace=True)

5919

In [7]:
shark_bite_df.dropna(how = 'any', axis = 0, inplace= True)
print(len(shark_bite_df))
#5056

5056

In [8]:
shark_bite_df_copy = shark_bite_df.copy()
shark_bite_df_copy.drop(["year", "day"], axis=1, inplace=True)
shark_bite_df_copy

,month,country,activity,species,type,people_involved,sex,fatal
0,2.0,USA,Board_Activity,Tiger,Unprovoked,U,U,N
1,1.0,BHS,Swimming_Activity,Unknown,Provoked,I,F,N
2,1.0,AUS,Board_Activity,Unknown,Unprovoked,I,M,N
3,1.0,NZL,Board_Activity,Broad_Nose_Seven_Gill,Unprovoked,I,F,N
4,1.0,USA,Board_Activity,Unknown,Unprovoked,I,M,N
...,...,...,...,...,...,...,...,...
5705,7.0,USA,Swimming_Activity,Unknown,Unprovoked,I,M,Y
5708,12.0,OTH,Swimming_Activity,Unknown,Unprovoked,M,S,Y
5709,4.0,ITA,Swimming_Activity,Unknown,Unprovoked,I,M,Y
5712,3.0,OTH,Swimming_Activity,Unknown,Unprovoked,I,M,N
5718,1.0,OTH,Board_Activity,Unknown,Unprovoked,I,M,Y

In [11]:
month_dict = {1.0: "Jan",
              2.0: "Feb",
              3.0: "Mar",
              4.0: "Apr",
              5.0: "May",
              6.0: "Jun",
              7.0: "Jul",
              8.0: "Aug",
              9.0: "Sep",
              10.0: "Oct",
              11.0: "Nov",
              12.0: "Dec" 
             }
shark_bite_df_copy = shark_bite_df_copy.replace({"month": month_dict})

In [12]:
# Encoding feature column
shark_bite_encoded = pd.get_dummies(shark_bite_df_copy, columns = [
    "month",
    "country",
    "activity",
    "species",
    "type",
    "people_involved",
    "sex"
])
#Encoding target column
# Not fatal (N): 0
# Fatal (Y): 1
x = {'N': 0}   
shark_bite_encoded = shark_bite_encoded.replace(x)
y = {'Y': 1}
shark_bite_encoded = shark_bite_encoded.replace(y)

pd.set_option('display.max_columns', None)

In [13]:
# Creating the features
X = shark_bite_encoded.drop(columns='fatal')

# Creating the target
y = shark_bite_encoded['fatal']