In [1]:
# For output clarity 
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd 
import numpy as np
import re

In [3]:
#Importing sharks data--using file that was cleaned and only contains confirmed shark attacks 
# From kaggle https://www.kaggle.com/datasets/thedevastator/shark-attacks-the-risks-of-coastal-water-activit
# FromShark Research Institute's website https://www.sharkattackfile.net/incidentlog.htm
file_path = "shark_attack_confirmed.csv"
df = pd.read_csv(file_path)
df.columns

Index(['index', 'Case Number', 'Date', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Unnamed: 9', 'Age', 'Injury',
       'Fatal (Y/N)', 'Time', 'Species'],
      dtype='object')

In [4]:
#Create df with only country column to work with 
columns = ["Case Number", "Date", "Year"]
date_df = df.loc[:, columns]
#pd.set_option('display.max_rows', None)

In [5]:
len(set(date_df['Case Number']))

5920

In [6]:
date_df['Case Number'] = date_df['Case Number'].astype(str) 
date_df.dtypes

Case Number    object
Date           object
Year           object
dtype: object

In [7]:
date_df.loc[date_df['Case Number'].str.contains(r'ND', case = 'false'), 'Case Number'] = '0'

In [8]:
date_df = date_df[date_df["Case Number"] != "0"]
date_df

       Case Number                  Date    Year
0       2020.02.05              5-Feb-20  2020.0
1     2020.01.30.R  Reported 30-Jan-2020  2020.0
2       2020.01.17             17-Jan-20  2020.0
3       2020.01.16             16-Jan-20  2020.0
4       2020.01.13             13-Jan-20  2020.0
...            ...                   ...     ...
5811    0005.00.00            Ca. 5 A.D.     5.0
5812        0.0214          Ca. 214 B.C.     0.0
5813        0.0336         Ca. 336.B.C..     0.0
5814        0.0493              493 B.C.     0.0
5815        0.0725          Ca. 725 B.C.     0.0

[5816 rows x 3 columns]

In [9]:
def clean_year():
    try: 
        date_df['Year_']=[d[0:4] for d in date_df['Case Number']]
    except:
        date_df['Year_']='00'

In [10]:
def clean_month():
    try:
        date_df['Month']=[d[5:7] for d in date_df['Case Number']]
    except:
        date_df['Month']='00'

In [11]:
def clean_day():
    try:
        date_df['Day']=[d[8:10] for d in date_df['Case Number']]
    except:
        date_df['Day']='00'

In [14]:
date_df["Case Number"].apply(clean_year())
    #This gives me an error, but it works by adding the column to the df
    #Keep running if error appears
date_df.head()

TypeError: 'NoneType' object is not callable

In [15]:
date_df.head()

    Case Number                  Date    Year Year_
0    2020.02.05              5-Feb-20  2020.0  2020
1  2020.01.30.R  Reported 30-Jan-2020  2020.0  2020
2    2020.01.17             17-Jan-20  2020.0  2020
3    2020.01.16             16-Jan-20  2020.0  2020
4    2020.01.13             13-Jan-20  2020.0  2020

In [16]:
date_df["Case Number"].apply(clean_month())
     #This gives me an error, but it works by adding the column to the df
    # Keep running if error appears

TypeError: 'NoneType' object is not callable

In [17]:
date_df.head()

    Case Number                  Date    Year Year_ Month
0    2020.02.05              5-Feb-20  2020.0  2020    02
1  2020.01.30.R  Reported 30-Jan-2020  2020.0  2020    01
2    2020.01.17             17-Jan-20  2020.0  2020    01
3    2020.01.16             16-Jan-20  2020.0  2020    01
4    2020.01.13             13-Jan-20  2020.0  2020    01

In [18]:
date_df["Case Number"].apply(clean_day())
    #This gives me an error, but it works by adding the column to the df
    #Keep running if error appears

TypeError: 'NoneType' object is not callable

In [19]:
date_df.head()

    Case Number                  Date    Year Year_ Month Day
0    2020.02.05              5-Feb-20  2020.0  2020    02  05
1  2020.01.30.R  Reported 30-Jan-2020  2020.0  2020    01  30
2    2020.01.17             17-Jan-20  2020.0  2020    01  17
3    2020.01.16             16-Jan-20  2020.0  2020    01  16
4    2020.01.13             13-Jan-20  2020.0  2020    01  13

In [20]:
date_df = date_df[date_df["Year"] != "0.0"]
date_df = date_df[date_df["Day"] != "00"]
date_df

       Case Number                      Date    Year Year_ Month Day
0       2020.02.05                  5-Feb-20  2020.0  2020    02  05
1     2020.01.30.R      Reported 30-Jan-2020  2020.0  2020    01  30
2       2020.01.17                 17-Jan-20  2020.0  2020    01  17
3       2020.01.16                 16-Jan-20  2020.0  2020    01  16
4       2020.01.13                 13-Jan-20  2020.0  2020    01  13
...            ...                       ...     ...   ...   ...  ..
5788    1751.07.27               27-Jul-1751  1751.0  1751    07  27
5792    1742.12.17               17-Dec-1742  1742.0  1742    12  17
5793  1738.04.06.R      Reported 06-Apr-1738  1738.0  1738    04  06
5796    1703.03.26               26-Mar-1703  1703.0  1703    03  26
5805  1580.01.10.R  Letter dated 10-Jan-1580  1580.0  1580    01  10

[5129 rows x 6 columns]

In [ ]:
# RUN ONLY ONCE PER KERNEL
columns = ["Case Number", "Date", "Year_", "Month", "Day"]
date_df = date_df.loc[:, columns]
date_df.rename(columns = {'Year_': 'Year'}, inplace = True)

In [ ]:
len(set(date_df['Case Number']))
date_df.dtypes

In [ ]:
month_dict = {'01': 1,
              '02': 2,
              '03': 3,
              '04': 4,
              '05': 5,
              '06': 6,
              '07': 7,
              '08': 8,
              '09': 9,
              '10': 10,
              '11': 11,
              '12': 12}
date_df = date_df.replace({'Month': month_dict})

month_list = [1,2,3,4,5,6,7,8,9,10,11,12]
for row in date_df.Month:
    if row not in month_list:
        date_df['Month'].replace(to_replace=row, value='Unknown', inplace=True)

date_df = date_df[date_df["Month"] != "Unknown"]
list(date_df.Month.unique())

In [ ]:
date_df["Month"]= date_df["Month"].astype(int)
date_df.dtypes

In [ ]:
day_dict = {'01': 1,
            '02': 2,
            '03': 3,
            '04': 4,
            '05': 5,
            '06': 6,
            '07': 7,
            '08': 8,
            '09': 9,
            '10': 10,
            '11': 11,
            '12': 12,
            '13': 13,
            '14': 14,
            '15': 15,
            '16': 16,
            '17': 17,
            '18': 18,
            '19': 19,
            '20': 20,
            '21': 21,
            '22': 22,
            '23': 23,
            '24': 24,
            '25': 25,
            '26': 26,
            '27': 27,
            '28': 28,
            '29': 29,
            '30': 30,
            '31': 31
           }
date_df = date_df.replace({'Day': day_dict})

day_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]
for row in date_df.Day:
    if row not in day_list:
        date_df['Day'].replace(to_replace=row, value='Unknown', inplace=True)

date_df = date_df[date_df["Day"] != "Unknown"]
list(date_df.Day.unique())
date_df["Day"]= date_df["Day"].astype(int)

In [ ]:
len(set(date_df['Case Number']))

In [ ]:
date_df["Year"]= date_df["Year"].astype(int)
date_df.dtypes

In [ ]:
date_df.to_csv("date.csv", index=False)